* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    font-size: 100%;
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    background-color: #1F1F1F;
}

// 
@mixin flex($dir, $space) {
    display: flex;
    flex-flow: $dir wrap;
    justify-content: $space;
    align-items: center;
}

nav {
    @include flex(row, center);
    padding: 2%;

    .logo {
        width: auto;
        font-size: 35px;
        font-weight: 700;
        padding: 0 5%;
        text-transform: uppercase;
        color: white;

        .main_date {
            font-size: 18px;
            font-weight: 500;
        }
    }

    form {
        width: 50%;
        padding: 0 4%;
        @include flex(row, flex-start);

        input[type=text] {
            border-radius: 5px;
            padding: 1% 2%;
            margin: 0 1%;
            outline: none;
            border: none;
            font-size: 18px;
            font-weight: 500;
            width: 300px;
        }

        .Add-task-btn {
            padding: 5px 10px;
            border-radius: 5px;
            outline: none;
            border: none;
            background: white;
        }
    }
}

main {
    width: auto;
    margin: 2% auto;
    @include flex(column, center);

    .app-container {
        width: 100%;
        @include flex(row, space-evenly);
        align-items: flex-start;
        color: white;

        .today-section,
        .tmr-section,
        .someday-section {
            width: 30%;
            height: 100%;
            margin: 1%;
            padding: 2%;
            background-color: #1F1F1F;
            border-radius: 10px;

            .block-heading {
                text-align: left;
                font-size: 30px;
                text-transform: uppercase;
                padding: 1%;
            }

            .work-completed {
                text-decoration: line-through;
                opacity: 0.7;
                color: white;
            }

            .task-row {
                width: 100%;
                padding: 2% 1%;
                margin: 1% 0;
                border-radius: 10px;
                @include flex(row, flex-start);
                border: 2px solid #282828;
                background-color: #282828;
                transition: all 1s ease;

                .small-circle-box,
                .endTask {
                    width: 8%;
                    color: white;
                    padding: 3% 2%;
                    margin: 1% 2%;
                    border-radius: 15px;
                    font-size: 20px;
                    outline: none;
                    border: none;
                    background: none;
                }

                .text {
                    width: 50%;
                    font-size: 24px;
                    font-weight: 400;
                    padding: 2% 1%;
                    overflow: auto;
                    @include flex(column, left);
                    align-items: flex-start;

                    .task_timer {
                        width: 20%;
                        font-size: 15px;
                        font-weight: 400;
                        padding: 1% 0;
                    }
                }
            }
        }
    }
}

.fa-trash,
.fa-check {
    pointer-events: none;
}

.fall {
    transform: translateX(-100px);
    opacity: 0;
}

// small desktops
@media screen and (max-width:1100px) {
    nav {
        @include flex(row, center);

        .logo {
            width: 100%;
            margin: 1% 0;
            font-size: 28px;
            @include flex(row, center);

            .main_date {
                font-size: 19px;
                margin: 1% 2%;
            }
        }

        form {
            width: 100%;
            margin: 2% 0;
            justify-content: center;

            input[type=text] {
                font-size: 21px;
                font-weight: 500;
                width: 80%;
            }

            .Add-task-btn {
                padding: 12px 20px;
            }
        }
    }

    main {
        .app-container {
            @include flex(row, center);

            .today-section,
            .tmr-section,
            .someday-section {
                width: 80%;
                height: 100%;
                margin: 1%;
                padding: 2%;
                @include flex(column, center);


                .block-heading {
                    font-size: 30px;
                }

                .task-row {
                    width: 80%;

                    .small-circle-box,
                    .endTask {
                        width: 10%;
                        padding: 1% 2%;
                        margin: 2%;
                        font-size: 20px;
                    }

                    .text {
                        width: 40%;
                        font-size: 28px;
                        overflow: auto;
                    }

                    .task_timer {
                        font-size: 20px;
                        width: 20%;
                    }
                }
            }
        }
    }
}

// tablets
@media screen and (max-width:900px) {
    nav {
        @include flex(row, center);

        .logo {
            width: 100%;
            margin: 1% 0;
            font-size: 30px;
            @include flex(row, center);

            .main_date {
                font-size: 21px;
                margin: 1% 2%;
            }
        }

        form {
            width: 100%;
            margin: 2% 0;
            justify-content: center;

            input[type=text] {
                font-size: 25px;
                font-weight: 500;
                width: 80%;
            }

            .Add-task-btn {
                padding: 12px 20px;
            }
        }
    }

    main {
        .app-container {
            @include flex(column, center);

            .today-section,
            .tmr-section,
            .someday-section {
                width: 100%;
                height: 100%;
                margin: 1%;
                padding: 2% 3%;
                @include flex(column, center);


                .block-heading {
                    font-size: 30px;
                }

                .task-row {
                    width: 80%;

                    .small-circle-box,
                    .endTask {
                        width: 10%;
                        padding: 2%;
                        margin: 2%;
                        font-size: 20px;
                    }

                    .text {
                        width: 50%;
                        font-size: 28px;
                        overflow: auto;
                    }

                    .task_timer {
                        font-size: 18px;
                        width: 20%;
                    }
                }
            }
        }
    }
}

// mobile
@media screen and (max-width:600px) {
    nav {
        @include flex(column, center);

        .logo {
            width: 100%;
            margin: 2% 0;
            @include flex(row, center);

            .main_date {
                font-size: 15px;
            }
        }

        form {
            width: 100%;
            margin: 2% 0;
            justify-content: center;

            input[type=text] {
                font-size: 20px;
                font-weight: 500;
                width: 70%;
            }

            .Add-task-btn {
                padding: 6px 12px;
            }
        }
    }

    main {
        .app-container {
            @include flex(column, center);

            .today-section,
            .tmr-section,
            .someday-section {
                width: 100%;
                height: 100%;
                margin: 1%;
                padding: 2% 3%;

                .block-heading {
                    font-size: 28px;
                }

                .task-row {
                    width: 95%;

                    .small-circle-box,
                    .endTask {
                        width: 10%;
                        padding: 2%;
                        margin: 2%;
                        font-size: 16px;
                    }

                    .text {
                        width: 40%;
                        font-size: 22px;
                        overflow: auto;
                    }

                    .task_timer {
                        width: 25%;
                    }
                }
            }
        }
    }
}